<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <h2 class="title">All Users</h2>
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Created At</th>
                </thead>
                <tbody>
                    {% for user in all_users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.created_at}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
        <a href="/" class="btn btn-primary">Create a new user</a>
    </div>
</body>
</html>