<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All recipes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <ul class="nav align-items-center justify-content-around mb-3">
            <li class="nav-item">
                <a href="/" class="text-decoration-none text-dark"><h2 class="display-3 mt-2">What's good... {{user.first_name}}</h2></a>
            </li>
            <li class="nav-item">
                <a href="/create_recipe" class="btn btn-outline-dark">Create a new Recipe</a>
            </li>
            <li class="nav-item">
                <a href="/all_recipes" class="btn-outline-dark btn">All recipes</a>
            </li>
            <li class="nav-item">
                <a href="/logout" class="btn btn-outline-dark">Logout</a>
            </li>
        </ul>
        <form action="/search" class="form m-5" method="POST">
            <div class="form-floating mb-3 text-black">
                <input type="text" class="form-control" id="search" name="search" placeholder="search">
                <label for="search">Search</label>
            </div>
        </form>
        {% if recipes is not false %}
        <table class="table table-dark table-striped table-hover">
            <thead>
                <th>Name</th>
                <th>Made By</th>
                <th>Description</th>
                <th>Under 30 Minutes</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                <tr>
                    <td>{{recipe.name}}</td>
                    <td>{{recipe.made_by}}</td>
                    <td>{{recipe.description}}</td>
                    <td>{{recipe.under_30_mins}}</td>
                    <td>
                        <a href="/view/{{recipe.id}}" class="link-light">Instructions</a>
                        {% if recipe.creator_id == user.id %}
                        <a href="/edit/{{recipe.id}}" class="link-light">Edit</a>
                        <a href="/delete/{{recipe.id}}" class="link-light">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="display-4">No results found...</p>
        {% endif %}
    </div>
</body>
</html>