<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leaderboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-3">
        <h1>Welcome to the leaderboard</h1>
        <div class="container d-flex">
            {% for score in scores %}
            {% for key,value in score.items() %}
            <div class="col border">{{key}}</br>{{value|safe}}</div>
            {% endfor %}
            {% endfor %}
        </div>
        <a href="/" class="btn btn-secondary">Go back to page</a>
    </div>
</body>
</html>